#baseurl: /seek

remote_theme: ELIXIR-Belgium/elixir-toolkit-theme@4.1.0

current_seek_version: "1.16.2"
current_docker_tag: "1.16"

plugins:
  - jekyll-sitemap
  - jekyll-redirect-from

title: "FAIRDOM-SEEK Documentation"

exclude:
 - Gemfile*
 - .gitignore

permalink: /:categories/:year/:month/:day/:title

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: "help"
    values:
      sidebar: userguide
  -
    scope:
      path: "tech"
    values:
      sidebar: tech

theme_variables: 
  #git_host: GitHub
  #back_to_top: true
  #github_buttons: 
  #  position: top
  #  edit_me: true
  #  open_issue: true
  #  history: true
  # toc:
  #   min_headings: 2
  #   headings: 'h2'
  topnav:
    theme: light
    brand_logo: images/fairdom-seek-logo-header.png
    #github: true
    #twitter: false
  theme_color: 8cddf6
# theme color is not working! Trying c23669 from RDMkit doesn't help
