header .navbar {
    background-color: #f8f8f8;
    border: thin solid #e7e7e7;
}

#main {
    color: #606c71;
}

#main h1, #main h2, #main h3 {
    color: #392b99;
}


.user-guide-crumb {
    font-size: smaller;
    color: grey;
}