/*---Header---*/
//header .navbar {
    //background-color: #f0f5fd;
    //border: thin solid #e7e7e7;
//}

.form-control::placeholder {
    color: $white;
}


@media (min-width: 768px) {
    header .input-group > .form-control {
        width: 330px;
    }
}

/*-----Sidebar-----*/
.sidebar-title {
    font-weight: bolder;
}

@include media-breakpoint-up(lg) {
    /* Scroll bar on left sidebar */
    #sidebar {
        top: 3rem;
        z-index: 2;
        height: calc(100vh - 10rem);
        overflow-y: auto;
        position: sticky;
    }
}

#main h1, #main h2, #main h3 {
    color: $secondary;
    font-weight: normal;
}

/*---screenshots----*/
img.screenshot {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 1em;
    max-width: 40em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*----Font Aweseome icon colour, match headings----*/
main .fa-solid {
    color: $secondary;
}